$coloresgenerales:(
    color1:#19CECE,
    color2:#FBDD00,
    color3:#7D7B76,
    color4:white,
);

$coloresfondo:(
    fondo1:#88CFED,
    fondo2:#88ED8C,
    fondo3:#FFFE69,
    fondo4:#FF952A,
    fondo5:#8FECD3,

);

$textos:(
    cletra1:#7D7B76,
    cletra2:#FF5858,
    cletra3:#6b6b6b,
    cletra4:cornflowerblue,
    grosor1: bold,

)